body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #4e73df, #1cc88a);
    display: flex;
    /* താഴെ പറയുന്ന മൂന്ന് വരികളാണ് ബോക്സിനെ സ്ക്രീനിന്റെ നടുവിൽ നിർത്തുന്നത് */
    justify-content: center; 
    align-items: center;     
    min-height: 100vh;       
    
    flex-direction: column;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    overflow-x: hidden;
}

.container {
    background: rgba(255, 255, 255, 0.95);
    width: 95%;          
    max-width: 380px;    
    padding: 15px;       
    border-radius: 20px; 
    box-shadow: 0px 10px 30px rgba(0,0,0,0.3);
    text-align: center;
    position: relative;
    z-index: 2;
    /* ഉള്ളിലുള്ള കാര്യങ്ങളും കൃത്യമായി അലൈൻ ചെയ്യാൻ */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 { 
    font-size: 20px; 
    margin-top: 5px;
    margin-bottom: 15px; 
    color: #333; 
    font-weight: 700;
}

label {
    font-size: 14px;
    font-weight: 600;
    color: #444;
    display: block;
    margin-bottom: 2px;
}

/* ഇൻപുട്ടുകളുടെ സൈസും അകലവും */
select, input {
    width: 100%;      
    height: 42px;       
    padding: 0 12px;    
    margin: 6px 0;      
    border-radius: 12px;
    border: 1px solid #ddd;
    font-size: 14px;
    box-sizing: border-box;
    background: #fdfdfd;
}

/* ബട്ടണുകൾ */
button {
    height: 45px;       
    font-size: 16px;
    margin-top: 10px;
    width: 100%;
    background-color: #ff0081;
    color: #fff;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 4px 15px rgba(255, 0, 130, 0.3);
    transition: 0.3s;
}

button:active {
    transform: scale(0.97);
}

button[onclick="clearAll()"] {
    background-color: #6c757d;
    margin-top: 8px;
    box-shadow: 0 4px 12px rgba(108, 117, 125, 0.2);
}

.result-box {
    margin-top: 10px;
    padding-top: 5px;
}

.percent-display {
    font-size: 38px;    
    font-weight: 800;
    color: #ff0081;
    margin-top: -5px;
}

.watermark {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-30deg);
    font-size: 65px;
    color: rgba(255,255,255,0.07);
    font-weight: 900;
    pointer-events: none;
    z-index: 1;
}

.footer { 
    margin-top: 15px;
    font-size: 12px; 
    color: white; 
    opacity: 0.9;
}
